*/patches/*
!*/patches/*.txt
*/patchesx64/*
!*/patchesx64/*.txt
*/patchesx64/clean/*
*/patchesx64/noisy/*
*/flickr_images/*
!*/flickr_images/*.txt
__pycache__/
demo_out.*
*.pth
gan_denoising_results.png
denoised_image.jpg